input {
    display: block;
    /* width: 100%; */
    padding: .5rem;
    margin: 1rem0;
    /* box-sizing: border-box; */
}

/* See: https://angular.io/guide/form-validation#control-status-css-classes */


body{
    background: #01B0EF;
    border: 1px solid #01B0EF;
    width: auto;
}
    
section{
    width: 630px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: #D9D9D9;
    border-radius: 30px;
    /* border: 1px solid black; */
}

h3{
    color: #00427B;
    font-size: 50px;
    /* border: 1px black solid;  */
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    margin-right: auto;
    
}

#iconeVoltar{
    margin-left: 40px;
    /* border: 1px solid black; */
    /* size: 50%; */
}

#fields{
    color: #00427B;
    /* border: 1px solid black;  */
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

#email{
    width: 350px;
    height: 40px;
    border-radius: 10px;
    /* border: 1px solid yellow; */
    /* border: none; */
    padding: 0px 10px;
}

#inputEmail{
    width: 350px;
    height: 40px;
    border-radius: 10px;
    /* border: 1px solid yellow; */
    border: none;
    padding: 0px 10px;
}

#bigPassword{
    width: 350px;
    height: 40px;
    border-radius: 10px;
    /* border: 1px solid yellow; */
    border: none;
    padding: 0px 10px;
}

#confirmatePassword{
    width: 350px;
    height: 40px;
    border-radius: 10px;
    /* border: 1px solid yellow; */
    border: none;
    padding: 0px 10px;
}

#inputData{
    width: 350px;
    height: 40px;
    border-radius: 10px;
    /* border: 1px solid yellow; */
    border: none;
    padding: 0px 15px;
}

::placeholder{
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
}

#tooglepassword{
    border: 1px solid black;
    margin-top: 15px;
}

#password{
    /* border: 1px solid red; */
    margin-top: 30px;
}

#name{
    /* border: 1px solid red; */
    margin-top: 30px;
}

#dataNascimento{
    /* border: 1px solid red; */
    margin-top: 30px;
}

/* #inputData{
    border: 1px solid black;
    padding-left: 3%;
    margin-right: 10%;
} */

#email p{
    /* border: 1px solid purple; */
    padding-top: 5px;
}

#password p{
    /* border: 1px solid purple; */
    padding-top: 5px;
}

/*Botão de Login*/

#loginButton{
    background-color: #00427B;
    /* border: 1px solid black; */
    border: none;
    margin-left: 20%;
    width: 200px;
    height: 60px;
    margin-top: 40px;
    border-radius: 10px;
}

#loginButton p{
    color: #D9D9D9;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid black; */
    width: fit-content;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-top: 9%;
}

/* Campo de Esqueci Senha */

#forgotPassword{
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    text-decoration: underline;
    margin-left: 33%;
    margin-right: auto;
}

/* Botão de Cadastro */

#Cadastro{
    background-color: #00427B;
    border-radius: 5px;
    width: fit-content;
    height: 30px;
    color: #D9D9D9;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    text-decoration: underline;
    margin-left: 12%;
    border: none;
    
}

/* #Cadastro p{
    padding-top: 0.5%;
} */

/* #Cadastro #linkCadastro{
    
} */

/* section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  } */
  
  div {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    position: relative;
  }
  
  .back-button {
    position: absolute;
    top: 15%;
    left: 30%;
  }
  
  h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  mat-card {
    padding: 20px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
    /* border: 1px solid black; */
  }
  
  .button-container {
    text-align: center;
  }
  
  button {
    width: 100%;
  }
  
  h3{
    color: #00427B;
    font-size: 50px;
    /* border: 1px black solid;  */
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    margin-right: auto;
    
}

h4{
    color: #00427B;
    font-size: 20px;
    /* border: 1px solid black; */
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}