<form class="emailForm">
    <section>
        <div class="header">
            <h3>XLRM</h3>
            <a href="#" class="backLink">
                <img src="../../../assets/Vector-removebg-preview.png" id="iconeVoltar" alt="Voltar">
            </a>
        </div>

        <div class="fields">

            <button (click)="onNavigate()" class="actionButton" >
                Aprovar/Reprovar
            </button>

            <button (click)="onNavigate2()" class="actionButton" >
                Conceder acesso
            </button>
        </div>
    </section>
</form>