<form class="emailForm">
    <section>
        <div class="header">
            <h3>XLRM</h3>
            <button mat-button class="logout-button" (click)="logout($event)">Logout</button>
        </div>

        <div class="fields">
            <button (click)="onNavigate()" class="actionButton">
                Aprovar/Reprovar
            </button>

            <button (click)="onNavigate2()" class="actionButton">
                Conceder acesso
            </button>

            <button (click)="onNavigate6()" class="actionButton" >
                Reavaliar Acesso
            </button>

            <button (click)="onNavigate3()" class="actionButton">
                Cadastrar Produto
            </button>

            <button (click)="onNavigate4()" class="actionButton">
                Cadastrar Cliente
            </button>

            <button (click)="onNavigate5()" class="actionButton">
                Visualizar Produto
            </button>

            <button (click)="onNavigate7()" class="actionButton">
                Visualizar Cliente
            </button>
        </div>
    </section>
</form>
