<section>
  <h3>XLRM</h3>
  <h4>Visualização de  Clientes</h4>
  <button mat-icon-button class="back-button" (click)="goToTelaInicio()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <div style="max-width: 900px; margin: 0 auto; padding: 1em;">
    <form [formGroup]="customerForm" (ngSubmit)="onSearch()">
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="fullName">
      </mat-form-field>
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Documento:</mat-label>
        <input matInput formControlName="document">
      </mat-form-field>
      <div class="button-container" style="display: inline-block;">
        <button mat-raised-button color="primary" type="submit" [disabled]="!customerForm.valid">Enviar</button>
      </div>
    </form>
    <div *ngIf="customers.length > 0">
      <h4>Clientes:</h4>
      <table mat-table [dataSource]="customers" matSort>
        <!-- Documento Column -->
        <ng-container matColumnDef="document">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Documento</th>
          <td mat-cell *matCellDef="let customer"> {{ customer.document }} </td>
        </ng-container>
        <!-- Nome Column -->
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
          <td mat-cell *matCellDef="let customer"> {{ customer.firstName }} </td>
        </ng-container>
        <!-- Sobrenome Column -->
        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Sobrenome</th>
          <td mat-cell *matCellDef="let customer"> {{ customer.fullName }} </td>
        </ng-container>
        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
          <td mat-cell *matCellDef="let customer"> {{ customer.email }} </td>
        </ng-container>
        <!-- Phone Column -->
        <ng-container matColumnDef="phoneNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
          <td mat-cell *matCellDef="let customer"> {{ customer.phoneNumber }} </td>
        </ng-container>
        <!-- Endereço Column -->
        <ng-container matColumnDef="streetAddress">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Endereço</th>
          <td mat-cell *matCellDef="let customer"> {{ customer.streetAddress }} </td>
        </ng-container>
        <!-- Criação Column -->
        <ng-container matColumnDef="created">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Criação</th>
          <td mat-cell *matCellDef="let customer"> {{ customer.created }} </td>
        </ng-container>
        <!-- Editar Column -->
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef>Editar</th>
          <td mat-cell *matCellDef="let customer">
            <button mat-icon-button color="primary" (click)="editCustomer(customer)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div *ngIf="hasSearched">
      <div *ngIf="customers.length === 0" style="color: #00427B; text-decoration: underline; width: fit-content; margin-right: auto; margin-left: auto; margin-top: 5%;">
        <h2>Nenhum cliente encontrado.</h2>
      </div>
    </div>
  </div>
</section>