<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <section>
      <h3>XLRM</h3>
      <h4>Cadastro de Produto</h4>
      <button mat-icon-button class="back-button" (click)="goToTelaInicio()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <div id="fields">
        
        <mat-form-field>
          <mat-label>Código SKU:</mat-label>
          <input matInput id="codeSKU" type="number" formControlName="codeSKU" required>
          <mat-error *ngIf="codeSKU!.invalid && (codeSKU!.dirty || codeSKU!.touched)">
            Código SKU é obrigatório.
          </mat-error>
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>Nome do Produto:</mat-label>
          <input matInput id="productName" formControlName="productName" required>
          <mat-error *ngIf="productName!.invalid && (productName!.dirty || productName!.touched)">
            Nome do produto é obrigatório.
          </mat-error>
        </mat-form-field>
        
        <br>

        <mat-form-field>
          <mat-label>Descrição:</mat-label>
          <input matInput id="description" formControlName="description">
        </mat-form-field>

        <br>
  
        <mat-form-field>
          <mat-label>Quantidade:</mat-label>
          <input matInput id="quantity" type="number" formControlName="quantity" required>
          <mat-error *ngIf="quantity!.invalid && (quantity!.dirty || quantity!.touched)">
            Quantidade do produto é obrigatório.
          </mat-error>
        </mat-form-field>
  
        <br>

        <mat-form-field>
          <mat-label>Preço:</mat-label>
          <input matInput id="priceTag" type="number" formControlName="priceTag" required>
          <mat-error *ngIf="priceTag!.invalid && (priceTag!.dirty || priceTag!.touched)">
            Preço do produto é obrigatório.
          </mat-error>
        </mat-form-field>
  
        <br>

        <mat-form-field>
          <mat-label>Fabricante:</mat-label>
          <input matInput type="text" id="factory" formControlName="factory" required>
        </mat-form-field>
        


        <div id="button-container">
          <button mat-raised-button type="submit" id="loginButton" [disabled]="!productForm.valid">Enviar</button>
        </div>
      </div>
    </section>
  </form>
  
