<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <section>
      <h3>XLRM</h3>
      <h4>Cadastro de Produto</h4>
      <a href="telaInicio">
        <img src="assets/Vector-removebg-preview.png" id="iconeVoltar">
      </a>
      <div id="fields">
        <mat-form-field>
          <mat-label>Nome do Produto:</mat-label>
          <input matInput id="productName" formControlName="productName" required>
          <mat-error *ngIf="productName!.invalid && (productName!.dirty || productName!.touched)">
            Nome do produto é obrigatório.
          </mat-error>
        </mat-form-field>
        
        <br>

        <mat-form-field>
          <mat-label>Descrição:</mat-label>
          <input matInput id="description" formControlName="description" required>
          <mat-error *ngIf="description!.invalid && (description!.dirty || description!.touched)">
            Descrição é obrigatória.
          </mat-error>
        </mat-form-field>

        <br>
  
        <mat-form-field>
          <mat-label>Quantidade:</mat-label>
          <input matInput id="quantity" type="number" formControlName="quantity" required>
          <mat-error *ngIf="quantity!.invalid && (quantity!.dirty || quantity!.touched)">
            Quantidade do produto é obrigatório.
          </mat-error>
        </mat-form-field>
  
        <br>

        <mat-form-field>
          <mat-label>Preço:</mat-label>
          <input matInput id="priceTag" type="number" formControlName="priceTag" required>
          <mat-error *ngIf="priceTag!.invalid && (priceTag!.dirty || priceTag!.touched)">
            Preço do produto é obrigatório.
          </mat-error>
        </mat-form-field>
  
        <br>

        <mat-form-field>
          <mat-label>Manufatura:</mat-label>
          <input matInput type="text" id="factory" formControlName="factory" required>
        </mat-form-field>
        


        <div id="button-container">
            <button mat-button id="loginButton">
            <p>Subscribe Product</p>
            </button>
        </div>
      </div>
    </section>
  </form>
  
