<section>
  <p>XLRM - Conceder-acesso</p>

  <!-- Verificar se há usuários -->
  <button mat-icon-button class="back-button" (click)="goToTelaInicio()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <ng-container *ngIf="users.length > 0; else noUsers">
    <table mat-table [dataSource]="users" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let usuario"> {{ usuario.name }} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let usuario"> Pendente </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Ação </th>
        <td mat-cell *matCellDef="let user">
          <button mat-button (click)="grantAccess(user)">Conceder Acesso</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </ng-container>

  <!-- Mensagem exibida quando não há usuários -->
  <ng-template #noUsers>
    <p>Não há usuários.</p>
  </ng-template>
</section>
