<section>
    <div>
      <h3>XLRM</h3>
      <button mat-icon-button class="back-button" (click)="goToLogin()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <mat-card>
          <mat-card-content>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Email</mat-label>
              <input matInput type="email" id="email" formControlName="email" required>
              <mat-error *ngIf="email!.invalid && (email!.dirty || email!.touched)">
                <span *ngIf="email!.errors?.['required']">E-mail is required.</span>
              </mat-error>
            </mat-form-field>
  
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Password</mat-label>
              <input matInput type="password" id="pass" formControlName="pass1" required>
              <mat-error *ngIf="pass1!.invalid && (pass1!.dirty || pass1!.touched)">
                <span *ngIf="pass1!.errors?.['required']">Password is required.</span>
                <span *ngIf="pass1!.errors?.['minlength']">Password must be at least 8 characters long.</span>
              </mat-error>
            </mat-form-field>
  
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Confirm Password</mat-label>
              <input matInput type="password" id="confirm" formControlName="pass2" required>
            </mat-form-field>
  
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Name</mat-label>
              <input matInput type="text" id="name" formControlName="name" required>
              <mat-error *ngIf="name!.invalid && (name!.dirty || name!.touched)">
                <span *ngIf="name!.errors?.['required']">Name is required.</span>
              </mat-error>
            </mat-form-field>
  
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Birth Date</mat-label>
              <input matInput type="date" id="birth-date" max="2006-01-01" formControlName="birthDate" required>
              <mat-error *ngIf="birthDate!.invalid && (birthDate!.dirty || birthDate!.touched)">
                <span *ngIf="birthDate!.errors?.['required']">Birth date is required.</span>
              </mat-error>
            </mat-form-field>
  
            <div class="button-container">
              <button mat-raised-button color="primary" type="submit">Criar Conta</button>
            </div>
          </mat-card-content>
        </mat-card>
      </form>
    </div>
  </section>
  
